{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>


<p>
    {% blocktrans with site_name=site.name %}
    <h3>Poprawnie zarejestrowałeś się w <span style="color:#E8A80C;"> Wypozyczajka.com </span>Witamy na pokładzie!:)</h3>
    <span style="font-size: 0.8em;">Jeśli nie ty powinieneś dostać tego maila, zignoruj tą wiadomość.
	Twój adres zostanie automatycznie usunięty z bazy danych.</span>
    {% endblocktrans %}
</p><br><br>


<p>
    {% blocktrans %}
    Żeby aktywować konto, klinkij w link aktywacyjny przed upływem 
    {{ expiration_days }} dni:
    {% endblocktrans %}
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        {{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p><br><br>


<p>
    {% blocktrans with site_name=site.name %}
    Z pozdrowieniami,
    Adrian Zyskowski z oddziału technicznego, {{ site_name }}  <br>

		Wypozyczajka.com <br>
		732 001 743 <br>
		Grajewo, Warszawska 42 <br>

{% endblocktrans %} 
</p>


</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
