{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p class='text-center lead'>Zostałeś pomyślnie wylogowany.</p><p class='text-align-center lead'><a href="{% url 'auth_login' %}">Login</a></p></p>
{% endblock %}
