{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "Hasło pomyślnie zmienione." %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Zaloguj się" %}</a></p>

{% endblock %}
