{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>Zmień hasło</h1>
<p class='lead'>Zmień hasło używając podanego niżej maila.</p>
<form method="post" action=".">
  {% csrf_token %} 
    {% include 'registration/form_bootstrap.html' with form=form %}

  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div>
{% endblock %}


