{% extends "base.html" %}
{% load i18n %}



{% block content %}
<div class='row text-center'>
  <div class="col-sm-3"></div>
<div class='col-sm-6'>
<h1>Zarejestruj sie</h1>
<form method="post" action=".">

  <div class="card text-left">
    <div class="card-body">
  {% csrf_token %}
  {% include 'website/form_bootstrap.html' with form=form %}
  </div>
  </div>
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Rejestruj' %}" />
</form>
</div>
   <div class="col-sm-3"></div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 text-align-center'>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
</div>
</div>


	    <script>

var i;
for(i=0; i< document.getElementsByClassName('form-text text-muted').length; i++){ 

    var szyfr = document.getElementsByClassName('form-text text-muted')[i].innerHTML.split("");
    var k;
    for(k = 0; k < 340; k++){
        szyfr[k] = "";
    }
    document.getElementsByClassName('form-text text-muted')[i].innerHTML = szyfr.join('');
    
}

		</script>
{% endblock %}
