{% extends 'base.html' %}
{% block content %}


<div class="row">

 <div class="col-sm-4">
 <div style="padding:2em;">
  <h4>Napisz do nas wiadomość:</h4>
  <form method="post" novalidate>
    {% csrf_token %}
    <table border="1">
     {% include 'website/form_bootstrap.html' with form=form %}
    </table>
    <button type="submit">Submit</button>
  </form>
 </div>
 </div>

 <div class="col-sm-8">
 <div style="padding:2em;">
  <h4>Odwiedź nas osobiście:</h4>
  <div id="map" style="width:100%;height:500px;"></div>
  <h4>Lub zadzwoń: 732 001 743 </h4>
 </div>
 </div>

</div>

<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC97DYJk-0SBk7HByqB3FrdJfcfpILGqj8&callback=initMap"
  type="text/javascript"></script>

{% endblock %}
