{% extends 'base.html' %}


{% block item %}



    <div class="row">

		<div class="col-sm-4"></div>

       <div class="col-sm-4">
            <div class="card">


                    <form class="form-group mx-auto" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_bootstrap.html' with form=form %}


                        <div class="form-group">
                            <div class=" col-sm-10">
                                <button type="submit" class="btn btn-success">Dodaj przedmiot</button>
                            </div>
                        </div>

                    </form>


            </div>
        </div>

        <div class="col-sm-4"></div>



    </div>



{% endblock %}