{% extends 'base.html' %}
{% block content %}

<style>

@media (min-width: 1em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-left: 6em;
        margin-right: 6em;
    }

    #aboutus {
        display: none;
    }

    #logo {
        height: 3em;
        width: 12em;
    }


}


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #aboutus {
        display: block;
    }

    #logo {
        height: 4em;
        width: 16em;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }

    .card {
      padding-top: 15px;
    }
}
</style>



<blockquote class="blockquote" style="font-size:1.5em; color: #3f007e; border-style: solid; border-width: 8px 0px 0px 0px;">Przedmioty dostępne w punkcie:  </blockquote>
<div class="card-columns mt-2" style="font-size: 0.8em;">
	{% for item in object_list %}
            <div class="card text-center border border-warning">
              <span style="font-weight: bold;">{{ item.nazwa }}</span>
{% if item.nowosc %}<span class="badge badge-danger">Nowość</span>{% endif %}
{% if item.promocja %}<span class="badge badge-success">Promocja</span>{% endif %}
{% if item.bez_kaucji %}<span class="badge badge-primary">Bez Kaucji</span>{% endif %}
              <div class="card-body" style="padding:0px;">
                <a href="{% url 'website:rezerwujitem' item.id %}">
                  <div><img style="height:100px; width:120px;" class="img-fluid"  src="{{ item.zdjecie.url }}"></div>
                </a>
              </div>
              <div style="padding:0px; background-color:white; font-size: 0.96em;">
                <ul class="list-unstyled text-left ml-1">
                 <li>cena: <strong class="text-right">{{ item.cena }}zł/dzień</strong></li>
{% if item.minimalny_okres %}  <li>minimalny okres:<strong class="text-right"> {{ item.minimalny_okres }} dni</strong></li>{% else %}<li><strong class="text-right">wypożyczaj ile chcesz</strong></li> {% endif %}
                 <li>kaucja:{% if item.kaucja %} <strong>{{ item.kaucja }} zł</strong> {% else %}<strong> brak</strong>{% endif %}</li>
                </ul>
              </div>
            </div>
	{% endfor %}
</div>





<blockquote class="blockquote" style="font-size:1.5em; color: #3f007e; border-style: solid; border-width: 8px 0px 0px 0px;">Na te przedmioty musisz zaczekać: </blockquote>
<div class="card-columns mt-2" style="font-size: 0.8em;">
	{% for item in wypozyczone_list %}
           
            <div class="card text-center border border-warning">
              <span style="font-weight: bold;">{{ item.nazwa }}</span>
{% if item.nowosc %}<span class="badge badge-danger">Nowość</span>{% endif %}
{% if item.promocja %}<span class="badge badge-success">Promocja</span>{% endif %}
{% if item.bez_kaucji %}<span class="badge badge-primary">Bez Kaucji</span>{% endif %}
              <div class="card-body" style="padding:0px;">
                <a href="{% url 'website:rezerwujitem' item.id %}">
                  <div><img style="height:100px; width:120px;" class="img-fluid"  src="{{ item.zdjecie.url }}"></div>
                </a>
              </div>
              <div style="padding:0px; background-color:white; font-size: 0.96em;">
                <ul class="list-unstyled">
                 <li><span style="font-weight: bold;">{{ item.cena }}zł</span>/dzień</li>
                 <li>minimalny okres: {{ item.minimalny_okres }} dni</li>
                 <li>wypożyczony do {{ item.data_oddania }}</li>
                </ul>
              </div>
            </div>
	{% endfor %}
</div>

{% endblock %}
