{% extends 'base.html' %}

{% block content %}

<style>
	/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>

<div class="p-5">



		<div class="card text-center border border-warning">
			<span style="font-weight: bold;">{{ item.nazwa }}</span>
               
			<div class="card-body">
				<img class="img-fluid" src="{{ item.zdjecie.url }}" >
			</div>
                        <div class='text-left'>
                        {{ item.opis }} 
                        </div>
			{% if user.is_authenticated %}
			



				{% else %}
				<a href="{% url 'auth_login' %}" class="btn btn-warning btn-lg active" role="button"
				   aria-pressed="true">Zaloguj się aby zarezerwować</a>
			{% endif %}

			</div>

		</div>



	</div>

{% endblock %}
