{% extends 'base.html' %}

{% block onas %}
{% load staticfiles %}

<h5>Kim jesteśmy?</h5>


Assessment Systems to wiodąca firma w dziedzinie doradztwa w zarządzaniu zasobami ludzkimi w Europie Środkowo-Wschodniej. Doradzamy klientom w ponad 40 krajach Europy, Środkowego Wschodu, południowo-wschodniej Azji i Ameryki. Jesteśmy wielonarodową firmą, która ceni innowacyjność i wskazuje nowe trendy aby wspierać rozwój organizacji za pomocą działań nastawionych na rozwój kapitału ludzkiego.
Pomagamy naszym Klientom selekcjonować, rozwijać, zarządzać, organizować i utrzymywać talenty w ich organizacjach, od dyrektorów zarządzających po pracowników fizycznych.
Firma została założona w Pradze w 2001 roku. Motywuje nas do działania satysfakcja naszych Klientów. Istniejemy i rozwijamy się dzięki temu, że pomagamy rosnąć naszym Klientom.

<br></br>

<b>Dlaczego Klienci do nas przychodzą?</b>


<ul>
<br></br>
<li>
<b>Wartość dodana dla Twojego biznesu</b>
Nasze doświadczenie pomaga osiągnąć trwałe, pozytywne rezultaty biznesowe poprawiające decyzje związane z  zarządzani ludźmi, czyniąc je bardziej opartymi na faktach i sprawdzonych danych.
<br></br>
</li>

<li>
<b>Podejście lokalne</b>
Opierając się na globalnej wiedzy, światowych standardach i międzynarodowych miernikach, wdrażamy rozwiązania u Klientów z pełnym poszanowaniem lokalnej kultury, języka i historii.
<br></br>
</li>

<li>
<b>Twój ulubiony partner</b>
Przyczyniamy się do sukcesu Twojej firmy i przynosimy dodatkową wartość dla biznesu począwszy od pierwszego projektu. Natomiast dzięki długorwałym relacjom nasi klienci zyskują wiele  wymiernych korzyści.
Społeczna odpowiedzialność
Jako, że nasza praca jest związana z ludźmi, to uważamy, iż ważne jest również udzielanie wsparcia tym, którzy mieli mniej szczęścia. Od 2009 roku nieustannie pomagamy w kształceniu czworga dzieci z krajów rozwijających się poprzez organizacje Wontanara i Caritas. Pomogliśmy w wyżywieniu 250 rodzin, a także zapewnieniu dachu nad głową 330 rodzinom i 7 szkołom utraconym w wyniku huraganu na Filipinach w 2013 roku. Wyruszyliśmy z Budapesztu do Bamako, aby rozdzielić 20 000 dostaw medycznych i jesteśmy dumni, że należymy do głównych darczyńców osób potrzebujących. Nasze prezenty świąteczne w 2015 i 2016 roku zostały stworzone z pomocą osób niepełnosprawnych umysłowo i fizycznie z organizacji Prosazu i Etincelle, o.s. Nie spowalniamy inwestowania w kapitał ludzki na żadnym z frontów.
<br></br>
</li>

</ul>

<div class="p-5">
<img class="img-fluid" src='{% static "/media/devs.jpg" %}'>

<p class="lead mt-1"> Zespół Wypożyczajka.pl</p>
</div>
{% endblock %}
