<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}


	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Wypozyczajka.com</title>
	<link rel="shortcut icon" href='{% static "/media/favicon.ico" %}' type="image/x-icon">
	<link rel="icon" href='{% static "/media/favicon.ico" %}' type="image/x-icon">
    {% block meta %}{% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


</head>

<body>

<style>

@media (min-width: 1em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-left: 6em;
        margin-right: 6em;
    }

    #aboutus {
        display: none;
    }

    #logo {
        height: 3em;
        width: 12em;
    }


}


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #aboutus {
        display: block;
    }

    #logo {
        height: 4em;
        width: 16em;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }

    #aboutus {
        display: block;
    }

    #logo {
      height: 4em;
      width: 16em;
    }

    .card {
      padding-top: 15px;
    }
}
</style>
{% load static %}

<div class="container">


  <!-- TOP BAR NAVIGATION -->
  <nav class="navbar navbar-expand-sm navbar-light bg-faded border border-warning border-top-0 border-left-0 border-right-0 sticky-top" style="background-color: white; color: white;">


    <!-- LOGO -->

        <button class="btn navbar-toggler btn-outline-warning" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'website:item-view' %}">
        <img id="logo" src='{% static "/media/logo.png" %}' class="img-fluid" alt="Responsive image">
        </a>

    <!-- BUTTONS -->
    <div class="collapse navbar-collapse" id="nav-content">

          <ul class="navbar-nav ml-auto">

              <li class="nav-item"><a class="nav-link" href="{% url 'website:contactform' %}"><button type="button" class="btn btn-warning" style="margin:0px; min-width: 7em; font-size: 0.8em;">Kontakt</button></a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'website:o-nas' %}"><button type="button" class="btn btn-warning " style="min-width: 7em; font-size: 0.8em;">O nas</button></a></li>

              {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'website:profile' %}">
              <button type="button" class="btn btn-warning" style="min-width: 7em; font-size: 0.8em;">{{ user.username }} - Moje konto</button>
              </a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}"><button type="button" class="btn btn-warning" style="min-width: 7em; font-size: 0.8em;">Wyloguj się</button></a></li>
              {% endif %}

              {% if user.is_anonymous %}
              <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}"><button type="button" class="btn btn-warning" style="min-width: 7em; font-size: 0.8em;">Zaloguj się</button></a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}"><button type="button" class="btn btn-warning" style="min-width: 7em; font-size: 0.8em;">Zarejestruj się</button></a></li>
              {% endif %}


          </ul>
      </div>

  </nav>
  <!-- /TOP BAR NAVIGATION -->

  <!-- ABOUT US -->
  <img id="aboutus" src='{% static "/media/domki.jpg" %}' class="img-fluid" alt="Responsive image" style="opacity: 0.8;">
  <!-- /ABOUT US -->




    {% if user.is_authenticated %}
        {% block item %}
        {% endblock %}
    {% endif %}

        {% block content %}
        {% endblock %}


        {% block onas %}
        {% endblock %}






<!--Footer-->
<footer class="page-footer blue center-on-small-only" style="background-color: #3f007e; color: white; padding: 1em;">
    <!--Footer Links-->

        <div class="row">

            <!--First column-->
            <div class="col-md-6" style="font-size:10px;">
                <h6 class="title">Narzędzia Zyskowscy - wypożyczalnia</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut eros sed lorem fringilla sagittis. In eu mauris id ante pulvinar ultricies. Maecenas viverra sapien purus, sit amet dictum velit ultrices quis. Phasellus dignissim aliquam porta. Curabitur pellentesque euismod leo, sit amet lacinia erat tristique eu. Aenean in lectus fringilla, commodo quam vitae, semper est. Mauris ornare purus in fermentum lacinia. Sed quis turpis in diam tristique dapibus vel at est. Sed blandit placerat nibh, ut eleifend urna. Etiam imperdiet dui viverra dolor malesuada, non finibus urna porta. Aliquam vel tellus nisl. Fusce gravida finibus fringilla. Nam ac diam ac urna fringilla tristique. Phasellus elementum bibendum ullamcorper.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Kontakt</h5>
                <ul class="list-unstyled">
                    <li>tel: 739 292 415</li>
                    <li>Grajewo, Konopnickiej 12c</li>
                    <li>Od poniedziałku do piątku 8:00 - 15:00</li>
                    <li>Zapraszamy!</li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>

    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid" style="font-size: 0.8em;">
            © 2018 Copyright: ZyskowscyNarzedzia

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->


​

</div>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
​
<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
